body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: hsl(0, 0%, 5%);
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;

}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color:black;
    color: white;

}
#keys{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;

}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(78, 107, 97);
    color: bisque;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.operator-btn{
    background-color:hsl(35, 58%, 51%);
}
.operator-btn:hover{
    background-color:hsl(35, 58%, 51%);
}
.operator-btn:active{
    background-color:hsl(35, 58%, 75%);
}
.clear-btn{
    background-color: rgb(192, 161, 161);
}